@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;40;700&display=swap");

:root {
	--background: rgba(249, 249, 249, 0.8);
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: #222;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: #222;
}

.content {
	padding: 3rem;
	padding-top: 8rem;
	min-height: 200vh;
	background: url(memphis-mini.png);
	display: flex;
	flex-direction: column;
}

.content h2 {
	text-align: center;
	font-size: 3em;
}

.content p {
	margin: 0 auto;
	text-align: justify;
	margin-top: 2rem;
	max-width: 40rem;
}

/* NAVIGATION STYLES START HERE */
header {
	background: var(--background);

	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.logo {
	padding: 0.6em;
	color: #0077ff;
}

nav {
	text-align: left;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: var(--background);

	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 350ms ease-in-out;
}

nav ul {
	list-style: none;
}

nav li {
	margin-left: 2em;
	margin-bottom: 1em;
}

nav a {
	font-size: 1.2em;
	text-transform: uppercase;
	color: inherit;
	text-decoration: none;

	opacity: 0;
	transition: opacity 100ms ease-in-out; /* closing transition, no delay */
}

nav a:hover {
	color: #0077ff;
}

.nav-toggle-label {
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 2em;
	height: 100%; /* of the header */
	display: flex;
	align-items: center;

	cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background-color: #f55252;
	height: 2px;
	width: 1.6em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: "";
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
	background: #0077ff;
}
.nav-toggle-label span::after {
	top: 7px;
	background: #1eb319;
}

.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 300ms; /* starts after transform animation finishes */
	/* but we don't want delay when we're closing it, thats why we're putting it in hover, now it only works in one direction */
}

@media only screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr; /* auto was collapsing at this point */
		backdrop-filter: blur(5px);
	}

	.logo {
		grid-column: 2 / 3; /* starts at line 2, spans for 1 */
	}

	nav {
		all: unset; /* reset the stuff we did */

		/* add Edge support */
		position: relative;
		text-align: left;
		transition: none;
		transform: scale(1, 1);
		background: none;
		top: initial;
		left: initial;
		/* end Edge support stuff */

		grid-column: 3 / 4;

		display: flex; /* stretches all elements to span across the entire height */
		justify-content: flex-end;
		align-items: center;
	}

	nav ul {
		display: flex;
	}

	nav li {
		margin-bottom: 0;
		margin-left: 3em;
	}

	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before {
		content: "";
		display: block;
		height: 4px;
		background: #0077ff;
		position: absolute;
		top: -0.6em;
		left: 0;
		right: 0; /* same as width 100% */

		transform: scale(0, 1);
		transform-origin: center; /* default */
		transition: transform 250ms ease-in-out;
	}

	nav a:hover::before {
		transform: scale(1, 1);
	}
}
