* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Sen', sans-serif;
	background-image: linear-gradient(to bottom right, #e03f4d, #ff7958);
	height: 100vh;
	padding: 20vh 1rem 0;

	transition: background 400ms;

	&.valid {
		transition: background 400ms;
		background: linear-gradient(to bottom right, #71c571, #91e491);
	}
}

:focus {
	outline: none;
}

input {
	font: inherit;
}

.container {
	width: 100%;
	max-width: 414px;
	margin: 0 auto;
	background-color: #232734;
	padding: 25px 15px;
	transition: all 300ms ease-out;

	// &:hover {
	box-shadow: 0 0 0 8px hsla(226, 20%, 17%, 0.2);
}

h1 {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
	opacity: 0.7;
}

form {
	margin: 0px -15px;

	.form-group {
		width: 100%;
		padding: 0px 15px;
		background-image: linear-gradient(to right, #33344c, #232734);
		border-bottom: 1px solid #414141;

		&:last-of-type {
			border-bottom: none;
			margin-bottom: 25px;
		}

		.input-field {
			display: block;
			width: 100%;
			border: none;
			outline: none;
			background: none;
			padding: 15px 0px;

			color: #fff;
			font-size: 18px;

			&#username {
				text-transform: lowercase;
			}

			@media only screen and (max-width: 500px) {
				font-size: 15px;
			}

			&.valid {
				color: #44e444;
			}

			&.invalid {
				color: #f52626;
			}

			&:placeholder {
				color: #53565a;
			}
		}
	}

	.login-btn {
		margin: 0px 15px;
		display: inline-block;
		padding: 10px 40px;

		color: #d8414d;
		font-size: 20px;
		background: none;
		border: 2px solid #d8414d;
		border-radius: 999px;
		transition: 0.4s;
		cursor: pointer;

		@media only screen and (max-width: 500px) {
			font-size: 18px;
		}

		&:hover {
			color: #fff;
			background-color: #d8414d;
		}
	}
}
